<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guardian.guardian_v1">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/blue"
        android:label="@string/app_name"
        android:roundIcon="@drawable/blue"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Settings"></activity>
        <activity android:name=".Info" />
        <activity android:name=".Support" />
        <activity android:name=".MyAccount" />
        <activity android:name=".SelectNavigation" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".SignIn" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".SeatBelt" android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".Main" android:launchMode="singleTask"></activity>
        <activity android:name=".SignUp" android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".SleepSpeedManager.SleepManagerActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".MainActivity" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service android:name=".DriveStatus.LocationService"></service>
        <service android:name=".SleepSpeedManager.UseMeNotification"></service>
        <meta-data
            android:name="com.google.android.gms.version"

            android:value="@integer/google_play_services_version" />

        <service android:name=".SleepSpeedManager.SleepSpeedDetectorService" />


        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>

</manifest>